<div class="container">
    <div class="row">
        <div class="pull-right">Version=2.0</div> 
        <h2>WepApp Host = @Environment.MachineName</h2>
        <h2>WebAPI Host = @ViewData["HostName"]</h2>
        <div class="btn-group type-select pull-left top-buffer add-on" id="typeOrderSelect">
            <a class="btn btn-primary popover-default" asp-controller="home" asp-action="index">Refresh</a>
        </div>
        </div>
    </div>
